.fade-enter {
    opacity: 0;
    -webkit-transform: translateX(-60px);
    -ms-transform: translateX(-60px);
    transform: translateX(-60px);
  }
  .fade-enter-active {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: opacity 300ms ease-in-out,
      -webkit-transform 300ms ease-in-out;
    transition: opacity 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
    -o-transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
    transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
    transition: opacity 300ms ease-in-out, transform 300ms ease-in-out,
      -webkit-transform 300ms ease-in-out;
  }
  .fade-exit {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  .fade-exit-active {
    opacity: 0;
    -webkit-transform: translateX(60px);
    -ms-transform: translateX(60px);
    transform: translateX(60px);
    -webkit-transition: opacity 300ms ease-in-out,
      -webkit-transform 300ms ease-in-out;
    transition: opacity 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
    -o-transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
    transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
    transition: opacity 300ms ease-in-out, transform 300ms ease-in-out,
      -webkit-transform 300ms ease-in-out;
  }